body{
    background-color: yellow;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: auto
}

h1{
    background-color: orange;
    text-align: center
}

h2{
    background-color: purple;
    color: ivory
}

p{
    background-color: palevioletred
}

li{
    background-color: rgb(145, 202, 54);
    list-style-position: inside
}