body{
    background-image: url(images/Foto\ Natal\ Ponte.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #2D567E;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 0.5rem;
}

header h1{
    text-align: center;
    background-color: white;
    margin-right: auto;
    border-radius: 2rem;
    padding: 0.6rem 1rem;
}

header h1 a{
    text-decoration: none;
    text-align: top;
}

header h1 a:link{
    color: #007bff;
}

header h1 a:hover{
    color: #ff8400;
}

header h1 a:visited{
    color: #2B87A7;
}

li a:link{
    color: #007bff;
    text-decoration: none;
}

li a:hover{
    color: #ff8400;
}

li a:visited{
    color: #2B87A7;
}

li{
    display: inline-block;
}

li a{
    background-color: white;
    display: flex;
    margin: 0.6rem;
    margin-right: 1.5rem;
    padding: 0.7rem 0.9rem;
    border-radius: 2rem;
}

/* Saudações e introdução à página */
.paragrafo_introducao{ /* Bloco branco de introdução */
    font-style: bold;
    font-size: 1.1rem;
    text-align: left;
    background-color: white;
    background-size: auto;
    max-width: 44.5rem;
    color: #ff8400;
    border-radius: 1.5rem;
    margin: 2rem;
    margin-top: 2rem;
    margin-left: 36.25rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

#texto_introducao{
    text-align: left;
}

#simbolo_devopsdays{
    display: block;
    max-width: 100%;
    border-radius: 20px;
    margin-top: 3rem;
    margin-left: 34rem;
    margin-right: auto;
}
/* -------------- */

/* Conjunto dos blocos azuis */
.conjunto_blocos{
    display: flex;
    margin-top: 7rem;
    justify-content: center;
}
/* -------------- */

/* Bloco "O que são os DevOpsDays?" */
.sobre_o_evento{  /* Bloco azul */
    background-color: #2D567E;
    background-size: cover;
    border-radius: 1.5rem;
    width: auto;
    max-width: 17rem;
    /* margin-left: 17.5rem; */
    padding: 0.1rem 1.5rem;
    margin-bottom: 1.5rem;
}

#o_que_e{ /* Título h2 "O que são os DevOpsDays? */
    color: white;
    background-color: #ff8400;
    background-size: cover;
    border-radius: 1.5rem;
    width: auto;
    padding: 1rem;
    margin-bottom: 2.5rem;
}

#paragrafos_bloco1{
    text-align: left;
    background-color: white;
    background-size: cover;
    border-radius: 1.5rem;
    padding: 1rem;
}
/* -------------- */

/* Bloco "DevOpsDays 2026 - Natal*/
.edição_2026_em_natal{  /* Bloco azul */
    background-color: #2D567E;
    background-size: cover;
    border-radius: 1.5rem;
    width: auto;
    max-width: 17rem;
    margin-left: 6rem;
    padding: 0.1rem 1.5rem;
    padding-bottom: 2.5rem;
    margin-bottom: 1.5rem;
}

#devopsdays_natal{ /* Título h2 "DevOpsDays 2026 - Natal */
    color: white;
    background-color: #ff8400;
    background-size: cover;
    border-radius: 1.5rem;
    width: auto;
    padding: 1rem;
    margin-bottom: 2.5rem;
}

#paragrafos_bloco2{
    text-align: left;
    background-color: white;
    background-size: cover;
    border-radius: 1.5rem;
    padding: 1rem;
}
/* -------------- */

/* INFORMAÇÕES.HTML */

/* Bloco da localização */
.bloco_localizacao{
    color: white;
    background-color: #ff8400;
    background-size: cover;
    border-radius: 1.5rem;
    width: auto;
    padding: 1rem;
    margin-bottom: 2.5rem;
}
/* -------------- */

/* Rodapé */
.rodape{ /* Bloco do rodapé */
    color: white;
    background-color: #ff8400;
    background-position: bottom;
    background-size: cover;
    width: auto;
    min-height: 100%;
    margin: 0; 
    margin-top: auto;
    padding: 1rem;
    padding-top: 3rem;
    text-align: center;
}

#nome_bold{
    color: #007bff;
}
/*  */
